<%= nav_bar :fixed => :top, :brand => "CommunityProject", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_divider %>
        <%= drop_down "Products" do %>
            <%= menu_item "Things you can't afford" %>
            <%= menu_item "Things that won't suit you anyway"%>
            <%= menu_item "Things you're not even cool enough to buy anyway" %>
            
        <% end %>
        <%= menu_item "About Us" %>
        <%= menu_item "Contact" %>
    <% end %>
    <%= menu_group :pull => :right do %>
            <%= menu_item "Sign In", "/users/sign_in" %>
            <%= menu_item "Log Out" %>
            <% end -%>
        <% end %>



<div class="backshit"> 
<div class="btn-group-community">
  <a href="/users/sign_in"><button class="btn-home">Sign In</button></a>
  <a href="/projects"><button class="btn-home">Projects in your City</button></a>
  <a href="#"><button class="btn-home">Contact</button></a>
</div> 
</div>

<div class="fix">FIX YOUR COMMUNITY TODAY!</div>
<div class="secondbackground"> 
 
</div>


