// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signupcontents {
  color: #DE5E60;
}

.signuptitle{
  text-align: center;
  color: #DE5E60;
  font-size: 2em;
  margin-top: 30px;
}

.signupwrapper {
  margin: auto; 
  width: 50%;
}


#user_email, #user_password, #user_name, #user_password_confirmation {
  display: block;
  margin: auto;
}

.sb {
  color: #DE5E60;
  border: 2px solid #DE5E60;
  background-color: transparent;

}

.sb:hover {
  color: white;
  background-color: #DE5E60;
}

.signinlink{
  text-align: center;
  margin: auto;
  width: 50%;
  color: #DE5E60;
}


.bottompic {
  background-image: url("");
}

.signintitle {
  color: #DE5E60;
  margin-top: 30px;
  font-size: 2em;
  text-align: center;
}

.signlab{
  width: 50%;
  margin: auto;
  color: #DE5E60;

}

.buttonholder {
  margin: auto;
  width: 30%;
  height: 30px;
}

.sb2 {
  background-color: transparent;
  color: #DE5E60;
  border: 2px solid #DE5E60;
  height: 100%;
  width: 38%;
  display: block;
  margin: auto;
}

.sb2:hover {
  background-color: #DE5E60;
  color: white;
}

p {
  color: #DE5E60;
}

.sb3 {
  background-color: transparent;
  color: #DE5E60;
  border: 2px solid #DE5E60;
  width: 30%;
  height: 30px;
}

.sb3:hover {
  background-color: #DE5E60;
  color: white;
}

.signout {
  font-size: 2em;
}

.sc {
    background-color: transparent;
    color: #DE5E60;
    border: 2px solid #DE5E60;
    width: 30%;
    height: 30px;
}

.comments {
  color: #DE5E60;
}

.commentheader {
  font-size: 1.5em;
}

.caption {
  color: #DE5E60;
}
